html, body{
    height:100vh;
}

.contentLeft {
    height: 100vh;
    border-right:1px solid gray;
}

.contentRight {
    height: 100vh;   
}

#main {
    display: block;
}

#level {
    display: none;
}
